:root {
  --vp-font-family-base:
    -apple-system, BlinkMacSystemFont, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji;
  --vp-font-family-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
  font-weight: 700;
}

.title {
  font-weight: 700 !important;
}

.tagline {
  max-width: 500px !important;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
}

.VPImage.image-src {
  padding-top: 12%;
  max-width: 512px;
  max-height: 512px;
}

@media screen and (max-width: 960px) {
  .VPHero.has-image .image {
    display: none;
  }
}
